<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGIVOHuq1CEGuJ60hgEGLcjuptZC_junk</string>
	<key>GCM_SENDER_ID</key>
	<string>924405667075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAD.Dagify</string>
	<key>PROJECT_ID</key>
	<string>dagify-10d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>dagify-10d4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924405667075:ios:01f53ac3a4572ce5738536</string>
</dict>
</plist>